<h1>Hello</h1>
{{title}}
<div class="container">
  <form #simpleFrom="ngForm" (ngSubmit)="onSubmit(simpleFrom.value)">
    <div class="row">
      <div class="col-6">
        <p>
          <ngb-alert [dismissible]="false">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
          </ngb-alert>
        </p>
      </div>
      <div class="col-6">
        <input type="text" ngModel class="form-control" name="name" placeholder="Enter Name"><br>
      </div>
      <div class="col-6">
      <input type="email" ngModel class="form-control" name="email" placeholder="Enter Email"><br>
      </div>
      <div class="col-6">
      <input type="text" ngModel class="form-control" name="phone" placeholder="Enter Phone"><br>
      </div>
      <div class="col-6">
      <input type="password" ngModel class="form-control" name="password" placeholder="Enter password"><br>
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


<!-- <div class="newclass" *ngIf="show==true; then ifBlock else elseBlock">
  <p>if show</p>
</div>
<ng-template #ifBlock>
  <p>if block</p>
</ng-template>
<ng-template #elseBlock>
  <p>else block</p>
</ng-template> -->
<!-- <app-login></app-login> -->