<div class="container">
  <h1 appCustomStyle>Hello</h1>
  <ul>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="contact">Contact</a></li>
    <li><a routerLink="home">home</a></li>
    <li><a routerLink="admin/profile">Admin profile</a></li>
  </ul>
  <!-- <form #simpleFrom="ngForm" (ngSubmit)="onSubmit(simpleFrom.value)">
    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>
    <p>
      <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
    </p>
    <div class="row">
      <div class="col-12">
        <p>
          <ngb-alert [dismissible]="false">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
          </ngb-alert>
        </p>
      </div>
      <div class="col-6">
        <input type="text" ngModel class="form-control" name="name" placeholder="Enter Name"><br>
      </div>
      <div class="col-6">
      <input type="email" ngModel class="form-control" name="email" placeholder="Enter Email"><br>
      </div>
      <div class="col-6">
      <input type="text" ngModel class="form-control" name="phone" placeholder="Enter Phone"><br>
      </div>
      <div class="col-6">
      <input type="password" ngModel class="form-control" name="password" placeholder="Enter password"><br>
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
    <mat-slider min="10" max="10000"  step="10" value="95" [displayWith]="formatLabel">
      <input matSliderThumb>
    </mat-slider>
  </form> -->
  <!-- <app-user-list (parentComponent)="parentComponent($event)"></app-user-list> -->
</div>
<router-outlet></router-outlet>


<!-- <div class="newclass" *ngIf="show==true; then ifBlock else elseBlock">
  <p>if show</p>
</div>
<ng-template #ifBlock>
  <p>if block</p>
</ng-template>
<ng-template #elseBlock>
  <p>else block</p>
</ng-template> -->
<!-- <app-login></app-login> -->